body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Tahoma;
	font-size: 100%;
	font-weight: normal;
	color: #000;
	margin: 0 auto;
	background: #fff;
	height: 100%;
}

/* font face */

@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('../fonts/proximanova-black/proximanova-black.eot');
    src: url('../fonts/proximanova-black/proximanova-black.eot') format('embedded-opentype'),
         url('../fonts/proximanova-black/proximanova-black.woff') format('woff'),
         url('../fonts/proximanova-black/proximanova-black.ttf') format('truetype'),
         url('../fonts/proximanova-black/proximanova-black.svg#ProximaNovaBlack') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova-regular/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular/proximanova-regular.eot') format('embedded-opentype'),
         url('../fonts/proximanova-regular/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold/proximanova-bold.eot') format('embedded-opentype'),
         url('../fonts/proximanova-bold/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold/proximanova-bold.svg#ProximaNovaBold') format('svg');
}

/* helper class */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
	width: 100%;
	padding: 0;
	margin:auto;
	position: relative;
	height: 100%;
}

.container img {
	width: 100%;
	height: auto;
	margin-bottom: -3px;
}

/* created this class because this was not part of the parallax */

.container-ads {
	width: 100%;
	padding: 0;
	margin:auto;
	position: relative;
}

.container-ads img {
	width: 100%;
	height: auto;
	margin-bottom: -3px;
}


/* disable non-parallax */

.disable-parallax {
	display: none;
}

/*parallax*/

.parallax-header {
    /* The image used */
    background: url(../images/header.jpg);

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-footer {
    /* The image used */
    background: url(../images/footer.jpg);

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*end parallax*/

.wrap {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	bottom: 10px;
	overflow: auto;
}

.wrap-inner {
	display: table;
	width: 100%;
	height: 100%;
}

.wrap-content {
	display: table-cell;
	vertical-align: middle;
}

.wrap-content section {
	margin:0 10px;
	padding:10px;
}

#header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-size: 6.25em; /* 100 / 16 */
	font-family: ProximaNovaBlack;
	text-shadow: 1px 1px 1px #333;
	color: #fff;
	text-transform: uppercase;
}

#header span {
	color: #54eaa9;
}

#header h2 {
	margin: 0;
	padding: 50px 0 80px 0;
	font-size: 1.875em; /* 30 / 16 */
	font-family: ProximaNovaRegular;
	text-shadow: 1px 1px 1px #333;
	color: #fff;
	text-align: center;
}

#header a {
	width: 100%;
	height: 50px;
	background: #54eaa9;
	color: #33bb80;
	margin: 0 auto;
	padding: 15px 80px;
	font-size: 1.125em; /* 18 / 16 */
	font-family: ProximaNovaRegular;
	text-transform: uppercase;
	text-decoration: none;
}

#header a:hover {
	background: #72f3bb;
	color: #33bb80;
}

#slider {
	width: 100%;
	height: 100%;
}

#slider img {
	width: 444px;
}

.cycle-slideshow, .cycle-slideshow * { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cycle-slideshow { 
	width: 40%; 
	min-width: 800px; 
	margin: 0 auto; 
	padding: 0;
}

.cycle-slideshow > div { 
	width: 100%; 
	padding: 0;
}

.pager { 
	text-align: center; 
	width: 100%; 
	clear: both; 
	overflow: hidden; 
	display: block;
}

.pager span { 
	font-size: 3.125em;  /* 50 / 16 */
	width: 16px; 
	height: 16px; 
	display: inline-block; 
	color: #ddd; 
}

.pager span.cycle-pager-active { 
	color: #54eaa9;
}

.pager > * { 
	cursor: pointer;
}

/* previous and next button */

#prev, #next {
	position: absolute;
	top: 0; 
	width: 30%; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	z-index: 800; 
	height: 100%; 
	cursor: pointer;
}

#prev {
	background: url(../images/left.png) 0% 50% no-repeat;
	left: 0;
}

#next {
	background: url(../images/right.png) 100% 50% no-repeat;
	right: 0;
}

#prev:hover, #next:hover {
	opacity: .7; 
	filter: alpha(opacity=70);
}

.feat-image1 { 
	width: 444px; 
	display: inline-block; 
	height: auto;
	float: left;
}

.feat-box { 
	width: 300px; 
	display: inline-block; 
	float: right;
}

.title {
	font-size: 1.125em; /* 18 / 16 */
	font-family: ProximaNovaBold;
	text-transform: uppercase;
	color: #111216;
	display: block;
}

.subtitle {
	font-size: 3em; /* 48 / 16 */
	font-family: Roboto Slab;
	line-height: normal;
	color: #111216;
	margin: 10px 0;
	display: block;
}

.feat-content {
	font-size: 0.9375em; /* 15 / 16 */
	font-family: ProximaNovaRegular;
	font-weight: bold;
	line-height: 1.5; /*22 / 15 */
	color: #969696;
}

.feat-button a {
	margin: 20px 0 0 0;
	display: block;
	width: 80px;
	padding: 10px;
	background: #c8c8c8;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8125em; /* 13 / 16 */
	font-family: ProximaNovaRegular;
	color: #fff;
	text-decoration: none;
}

.feat-button a:hover {
	background: #aaa5a5;
}

#about {
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

#about h1 {
	font-size: 1.125em; /* 18 / 16 */
	font-family: ProximaNovaBold;
	text-transform: uppercase;
	margin: 0;
}

#about h2 {
	font-size: 3em; /* 48 / 16 */
	font-family: Roboto Slab;
	margin: 0;
	padding: 40px 0 0 0;
}

#about p {
	font-size: 0.9375em; /* 15 / 16 */
	font-family: ProximaNovaRegular;
	color: #969696;
	margin: 40px 0 0 0;
	padding: 0 240px;
	line-height: 1.5; /* 22 / 15 */
	text-align: center;
}

#about span {
	color: #38bb82;
}

#about ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#about li {
	display: inline-block;
	margin: 90px 35px 75px 0;
}

#about p.content-me {
	font-size: 0.9375em; /* 15 / 16 */
	font-family: ProximaNovaRegular;
	line-height: 1.5; /*22 / 15 */
	color: #969696;
}

#footer {
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
	text-align: center;
}

#footer h1 {
	font-size: 3em; /* 48 / 16 */
	font-family: ProximaNovaBold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #fff;
}

#footer p {
	font-size: 1.25em; /* 20 / 16 */
	font-family: ProximaNovaRegular;
	color: #fff;
	margin: 45px 0;
	padding: 0 240px;
	line-height: 1.5; /* 30 / 20 */	
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer li {
	display: inline-block;
	margin: 0 20px 0 0;
}

#footer p.copyright {
	margin: 45px 0 0;
	font-size: 0.875em; /* 14 / 16 */
	font-family: ProximaNovaRegular;
	color: #fff;
}

#footer p.copyright span {
	color: #54eaa9;
}